  <h2>User info</h2>
      <%= image_tag user.get_profile_image(60, 60) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
      <% if user.id == current_user.id %>
          <%= link_to edit_user_path(current_user), class:"btn btn btn-secondary text-white", method: :get do %>
            </span><i class="fas fa-user-cog"></i>
          <% end %>
      <% end %>
      </div>